@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');

label {
    font-size: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

div.col-2 {
    padding-right: 0px;
    padding-left: 0px;
}

#card-check-day {
    padding-bottom: 0px;
    margin-left: 10px;
}

/* 심볼 체크박스 아래 선 */
#card-check-day:after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px solid #bcbcbc;
    margin: 20px 0px;
}

.eachInput {
    display: none;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-right: 20px;
}

.col-sm-2.col-form-label {
    margin-left: 20px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 15px;
}

div.col-sm-2 {
    padding-right: 0px;
    padding-left: 5px;
}

/* result 애니메이션 */
[class*='col-'] {
    transition: all 0.5s ease-in-out;
}

/* input태그 증, 감소 버튼 제거 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width:370px) {
    th {
        font-size: 13px;
    }

    tr {
        font-size: 13px;
    }
}

@media (max-width:340px) {
    th {
        font-size: 12px;
    }

    tr {
        font-size: 12px;
    }
}
