<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163705785-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-163705785-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>몬스터파크 계산기 - Maplecal</title>

    <meta name="keywords" content="메이플 계산기, 심볼 계산기, 몬파 계산기, 하이퍼 스텟 계산기">
    <meta name="description" content="몬스터파크 클리어 횟수와 메포사용 여부를 입력받아 달성 날짜와 누적 메포를 출력하는 계산기">
    <link rel="canonical" href="https://maplecal.com/monsterPark">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/CalculatorFavicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homeStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/monsterParkStyle.css') }}">
</head>

<body>
    <!-- 내비 바-->
    <nav class="navbar navbar-light justify-content-center">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="home">Home</a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expand="false">계산기</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="symbol">심볼</a>
                    <a class="dropdown-item" href="monsterPark">몬스터 파크</a>
                    <a class="dropdown-item" href="hyperStats">하이퍼 스텟</a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="row">
            <!-- 입력 폼-->
            <div class="col-lg-6 offset-lg-3" id="col-input">
                <!-- 제목 -->
                <div class="card border-info text-dark" style="margin-bottom:10px;">
                    <div class="card-body">
                        <h2>몬파 계산기</h2>
                    </div>
                </div>
                <!-- 입력 -->
                <!-- 요일 선택 -->
                <div class="card border-info text-dark" style="margin-bottom:20px;">
                    <div class="card-body" id="card-check-day">
                        <div class="form-group row justify-content-center">
                            <div class="col-2">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="selectDay" class="custom-control-input" id="monCheckbox">
                                    <label class="custom-control-label" for="monCheckbox">
                                        <img src="static\img\decoImage\mondayDeco.png" width="60" height="40" title="월"></label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="selectDay" class="custom-control-input" id="tuesCheckbox">
                                    <label class="custom-control-label" for="tuesCheckbox">
                                        <img src="static\img\decoImage\tuesdayDeco.png" width="60" height="40" title="화"></label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="selectDay" class="custom-control-input" id="wednesCheckbox">
                                    <label class="custom-control-label" for="wednesCheckbox">
                                        <img src="static\img\decoImage\wednesdayDeco.png" width="60" height="40" title="수"></label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="selectDay" class="custom-control-input" id="thursCheckbox">
                                    <label class="custom-control-label" for="thursCheckbox">
                                        <img src="static\img\decoImage\thursdayDeco.png" width="60" height="40" title="목"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row justify-content-center">
                            <div class="col-2">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="selectDay" class="custom-control-input" id="friCheckbox">
                                    <label class="custom-control-label" for="friCheckbox">
                                        <img src="static\img\decoImage\fridayDeco.png" width="60" height="40" title="금"></label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="selectDay" class="custom-control-input" id="saturCheckbox">
                                    <label class="custom-control-label" for="saturCheckbox">
                                        <img src="static\img\decoImage\saturdayDeco.png" width="60" height="40" title="토"></label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" name="selectDay" class="custom-control-input" id="sunCheckbox">
                                    <label class="custom-control-label" for="sunCheckbox">
                                        <img src="static\img\decoImage\sundayDeco.png" width="60" height="40" title="일"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 클리어 횟수, 메포 사용여부 입력 -->
                    <form id="form-input">
                        <div class="eachInput" id="mon-input">
                            <label class="big">월요일</label>
                            <div class="form-group row" style="margin-bottom:5px;">
                                <label for="monCount" class="col-sm-2 col-form-label">클리어 횟수</label>
                                <div class="col-sm-2">
                                    <input type="number" min="0" max="76" class="form-control" id="monCount">
                                </div>
                                <label for="monUseMepo" class="col-sm-2 col-form-label">메포 사용
                                    <input type="checkbox" name="selectMepo" id="monUseMepo" checked></label>
                                <label for="numberOfUses" class="col-sm-2 col-form-label">사용 횟수</label>
                                <div class="col-sm-2">
                                    <input type="number" value="5" min="1" max="5" step="1" class="form-control" id="monUses">
                                </div>
                            </div>
                        </div>
                        <div class="eachInput" id="tues-input">
                            <label class="big">화요일</label>
                            <div class="form-group row" style="margin-bottom:5px;">
                                <label for="tuesCount" class="col-sm-2 col-form-label">클리어 횟수</label>
                                <div class="col-sm-2">
                                    <input type="number" min="0" max="76" class="form-control" id="tuesCount">
                                </div>
                                <label for="tuesUseMepo" class="col-sm-2 col-form-label">메포 사용
                                    <input type="checkbox" name="selectMepo" id="tuesUseMepo" checked></label>
                                <label for="numberOfUses" class="col-sm-2 col-form-label">사용 횟수</label>
                                <div class="col-sm-2">
                                    <input type="number" value="5" min="1" max="5" step="1" class="form-control" id="tuesUses">
                                </div>
                            </div>
                        </div>
                        <div class="eachInput" id="wednes-input">
                            <label class="big">수요일</label>
                            <div class="form-group row" style="margin-bottom:5px;">
                                <label for="wednesCount" class="col-sm-2 col-form-label">클리어 횟수</label>
                                <div class="col-sm-2">
                                    <input type="number" min="0" max="76" class="form-control" id="wednesCount">
                                </div>
                                <label for="wednesUseMepo" class="col-sm-2 col-form-label">메포 사용
                                    <input type="checkbox" name="selectMepo" id="wednesUseMepo" checked></label>
                                <label for="numberOfUses" class="col-sm-2 col-form-label">사용 횟수</label>
                                <div class="col-sm-2">
                                    <input type="number" value="5" min="1" max="5" step="1" class="form-control" id="wednesUses">
                                </div>
                            </div>
                        </div>
                        <div class="eachInput" id="thurs-input">
                            <label class="big">목요일</label>
                            <div class="form-group row" style="margin-bottom:5px;">
                                <label for="thursCount" class="col-sm-2 col-form-label">클리어 횟수</label>
                                <div class="col-sm-2">
                                    <input type="number" min="0" max="76" class="form-control" id="thursCount">
                                </div>
                                <label for="thursUseMepo" class="col-sm-2 col-form-label">메포 사용
                                    <input type="checkbox" name="selectMepo" id="thursUseMepo" checked></label>
                                <label for="numberOfUses" class="col-sm-2 col-form-label">사용 횟수</label>
                                <div class="col-sm-2">
                                    <input type="number" value="5" min="1" max="5" step="1" class="form-control" id="thursUses">
                                </div>
                            </div>
                        </div>
                        <div class="eachInput" id="fri-input">
                            <label class="big">금요일</label>
                            <div class="form-group row" style="margin-bottom:5px;">
                                <label for="friCount" class="col-sm-2 col-form-label">클리어 횟수</label>
                                <div class="col-sm-2">
                                    <input type="number" min="0" max="76" class="form-control" id="friCount">
                                </div>
                                <label for="friUseMepo" class="col-sm-2 col-form-label">메포 사용
                                    <input type="checkbox" name="selectMepo" id="friUseMepo" checked></label>
                                <label for="numberOfUses" class="col-sm-2 col-form-label">사용 횟수</label>
                                <div class="col-sm-2">
                                    <input type="number" value="5" min="1" max="5" step="1" class="form-control" id="friUses">
                                </div>
                            </div>
                        </div>
                        <div class="eachInput" id="satur-input">
                            <label class="big">토요일</label>
                            <div class="form-group row" style="margin-bottom:5px;">
                                <label for="saturCount" class="col-sm-2 col-form-label">클리어 횟수</label>
                                <div class="col-sm-2">
                                    <input type="number" min="0" max="76" class="form-control" id="saturCount">
                                </div>
                                <label for="saturUseMepo" class="col-sm-2 col-form-label">메포 사용
                                    <input type="checkbox" name="selectMepo" id="saturUseMepo" checked></label>
                                <label for="numberOfUses" class="col-sm-2 col-form-label">사용 횟수</label>
                                <div class="col-sm-2">
                                    <input type="number" value="5" min="1" max="5" step="1" class="form-control" id="saturUses">
                                </div>
                            </div>
                        </div>
                        <div class="eachInput" id="sun-input">
                            <label class="big">일요일</label>
                            <div class="form-group row" style="margin-bottom:5px;">
                                <label for="sunCount" class="col-sm-2 col-form-label">클리어 횟수</label>
                                <div class="col-sm-2">
                                    <input type="number" min="0" max="76" class="form-control" id="sunCount">
                                </div>
                                <label for="sunUseMepo" class="col-sm-2 col-form-label">메포 사용
                                    <input type="checkbox" name="selectMepo" id="sunUseMepo" checked></label>
                                <label for="numberOfUses" class="col-sm-2 col-form-label">사용 횟수</label>
                                <div class="col-sm-2">
                                    <input type="number" value="5" min="1" max="5" step="1" class="form-control" id="sunUses">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="big btn btn-primary btn-block" id="btn-run" style="display:none; margin-top:10px;">계산</button>
                        <!-- description -->
                        <div class="info">
                            <p style="font-weight:bold">
                                획득 하고자하는 요일 훈장을 선택
                            </p>
                            <p>
                                클리어 횟수는 현재까지 클리어한 횟수를 적어주시면 됩니다.
                            </p>
                            <p>
                                하루 2판 무료, 이 후 메포를 사용하여 플레이 할 횟수 입력
                            </p>
                            <p>
                                마지막 날, 2판 이하 남을 시 메포 계산x
                            </p>
                            <p>
                                훈장 사진 오른쪽 하단에 요일 표시
                            </p>
                        </div>
                    </form>
                </div>
            </div>
            <!-- 출력 폼 -->
            <div class="col-lg-5" id="col-output" style="display: none;">
                <!-- 제목 -->
                <div class="card border-info text-dark" style="margin-bottom:10px;">
                    <div class="card-body">
                        <h2>결과</h2>
                    </div>
                </div>
                <!-- 결과값 테이블 출력 -->
                <div class="card border-info text-dark" style="margin-bottom:20px;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">
                                    훈장
                                </th>
                                <th scope="col">
                                    획득 날짜
                                </th>
                                <th scope="col">
                                    누적 메포
                                </th>
                            </tr>
                        </thead>
                        <!-- 동적으로 출력 -->
                        <tbody id="tbody-content">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
    <!-- 머리 말 -->
    <footer>
        <p>
            Copyright 2020 ⓒ maplecal All rights reserved <br />
            Contact email : <a href="mailto:shekwl24@gmail.com">shekwl24@gmail.com</a> <br />
            OpenSource : <a href="https://github.com/shekwl24/maplecal">github.com/shekwl24/maplecal</a>
        </p>
    </footer>
    <script src="{{ url_for('static',filename='js/monsterParkResultFn.js') }}"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
        $(function() {
            let cnt = 0;

            // 날짜 선택 체크박스 클릭 시 event
            $("input:checkbox[name=selectDay]").click(function() {
                var name = $(this).attr('id');
                name = name.slice(0, -8);
                name_input = name + "-input";

                // 체크박스 체크 시
                if ($(this).is(":checked")) {
                    cnt++;

                    $(`#${name_input}`).show();
                    $("#btn-run").show();
                    $(".info").hide();
                    $(`#${name}Count`).val("");
                    $(`#${name}UseMepo`).attr("checked", false);
                    $(`#${name}Count`).attr("required", true);
                    $(`#${name}Uses`).attr("readonly", true);
                    $(`#${name}Uses`).val("");
                    // 체크 박스 해제 시
                } else {
                    cnt--;
                    $(`#${name}Count`).attr("required", false);
                    $(`#${name_input}`).hide();
                    if (cnt == 0) {
                        $(".info").show();
                        $("#btn-run").hide();
                    }
                }
            });

            // 메포 사용 여부 체크 시
            $("input:checkbox[name=selectMepo]").click(function() {
                var name = $(this).attr('id');
                name = name.slice(0, -7);

                // 체크박스 체크 시
                if ($(this).is(":checked")) {
                    $(`#${name}Uses`).attr("readonly", false);
                    // 체크 박스 해제 시
                } else {
                    $(`#${name}Uses`).attr("readonly", true);
                }
            });

            // 계산 버튼 클릭 이후 이벤트
            function run() {
                let total_mepo = 0;
                var day = ["mon", "tues", "wednes", "thurs", "fri", "satur", "sun"];

                $('#tbody-content').empty();
                $('#col-input').removeClass('offset-lg-3');
                setTimeout(() => {
                    $('#col-output').css("display", "");
                }, 500);

                for (var i = 0; i < 7; i++) {
                    if ($(`#${day[i]}Checkbox`).is(":checked")) {
                        let count = parseInt($(`#${day[i]}Count`).val());
                        let uses = 0;
                        if ($(`#${day[i]}UseMepo`).is(":checked")) uses = parseInt($(`#${day[i]}Uses`).val());
                        total_mepo += calMepo(count, uses);

                        $('#tbody-content').append(`
                          <tr>
                              <td><img src="static/img/decoImage/${day[i]}dayDeco.png" width="60" height="40"></td>
                              <td style="vertical-align:middle;">${calDate(i, count, uses)}</td>
                              <td style="vertical-align:middle;">${calMepo(count, uses).toLocaleString()}</td>
                          </tr>
                        `);
                    }
                }
                $('#tbody-content').append(`
                    <tr>
                        <td></td>
                        <td style="vertical-align:middle;">누적 메포</td>
                        <td style="vertical-align:middle;">${total_mepo.toLocaleString()}</td>
                    </tr>`);
            }

            // 이벤트 처리 전 새로고침 방지
            $("#form-input").submit(function(event) {
                event.preventDefault(); // 새로 고침 방지
                run(); // 실행
            });
        });
    </script>
</body>

</html>
